* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin-top: 40px;
  background-color: #1f1b1c;
  color: #ffffff;
}

header {
  padding: 10px;
  background-color: #1f1b1c;
  color: white;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

nav {
  margin-top: 40px;
  background-color: #f8f8f8;
  padding: 10px;
  text-align: center;
}

nav a {
  color: #ffffff;
  margin: 0 15px;
  text-decoration: none;
}

section {
  margin-top: 20px;
}

article {
  max-width: 800px; /* Adjust the max-width as per your preference */
  margin: 0 auto; /* Center the article */
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

footer {
  margin-top: 20px;
  padding: 10px 15px;
  width: 100%;
  background-color: #1f1b1c;
  color: white;
  text-align: center;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.5);
}

button {
  align-items: center;
  background-color: #313131;
  border: none;
  border-radius: 2px;
  color: #f2f2f2;
  display: grid;
  font-family: inherit;
  font-size: .875rem;
  font-weight: 500;
  gap: 8px;
  grid-auto-flow: column;
  justify-content: center;
  letter-spacing: .03125rem;
  line-height: 1rem;
  outline: none;
  padding: 16px;
  position: relative;
  text-transform: uppercase;
  margin: 0 auto;
}

button:hover {
  background-color: #787878;
}
/* Headings */
h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

/* Paragraph */
p {
  font-size: 1rem;
  line-height: 1.6;
}

/* Links */
a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #929292;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
}

/* Lists */
ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin-bottom: 5px;
}

/* Tables */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ffffff;
  padding: 8px;
  text-align: left;
}

/* Forms */
form {
  margin-bottom: 20px;
}

input, select, textarea {
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
}

/* Semantic Elements */
header, nav, article, section, footer {
  margin: 0;
  padding: 10px;
}

/* Media */
audio, video {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
